body{
background:#08111f;
}

.slide-img{
width:70%;
border-radius:16px;
border:3px solid #00bfff;
cursor:pointer;
}

.reveal h1,.reveal h2{
color:#00bfff;
}

.reveal section{
text-align:center;
}

pre{
background:#111827;
padding:15px;
border-radius:10px;
}

.modal{
display:none;
position:fixed;
z-index:9999;
left:0;
top:0;
width:100%;
height:100%;
background:rgba(0,0,0,.95);
}

.modal-content{
display:block;
margin:auto;
max-width:90%;
max-height:90%;
margin-top:2%;
}

.close{
position:absolute;
right:30px;
top:10px;
font-size:50px;
color:white;
cursor:pointer;
}